<div class="company">
    <div class="company-brief company-padding">
        <div class="company-title">公司简介：</div>
        <div class="company-brief-content">
            厦门游互信息科技有限公司是一家专注手机游戏研发的公司。公司成立于2013年10月份。<br>
            公司办公地点坐落于美丽的沿海城市，软件二期内。<br>
            目前团队成员不到20人，核心成员都拥有5-10年以上工作经验，都曾效力于各大知名游戏公司，并参与研发过多个游戏项目。公司致力于打造国内一流精品手游。
        </div>
    </div>
    <div class="split-bar"/>
    <div class="company-slogan">
        公司企业口号：
    </div>
    <div class="company-culture">
        <div class="say1" id="say1">
            <div>
                <span class="fist-letter">游</span>
                <span class="common-letter-wrap">
                    <span class="common-letter">戏世界</span>
                </span>
            </div>
            <div>game world</div>
        </div>
        <div class="say2" id="say2">
            <div>
                <span class="fist-letter">互</span>
                <span class="common-letter-wrap">
                    <span class="common-letter">动友谊</span>
                </span>
            </div>
            <div>gain friend</div>
        </div>
    </div>
</div>