<div class="product-content-left">
    <img class="product-scan" src="resources/img/product/ios-scan.png" width="150px">

    <div class="product-item">
        中文名:藏宝海湾<br>
        英文名:BootyBak<br>
        ios安装版:69.3MB
        <a  class="product-item-link product-iso-down" target="_blank" href="download/WarClient.ipa"></a>
    </div>

    <img class="product-scan margintop20" src="resources/img/product/android-scan.png" width="150px">

    <div class="product-item margintop20">
        中文名:藏宝海湾<br>
        英文名:BootyBak<br>
        安卓安装版:61.6MB
        <a  class="product-item-link product-android-down" target="_blank" href="download/WarClient.apk"></a>
    </div>

    <div class="product-feature">
        <div class="product-feature-title">
            游戏特色
        </div>
        <div class="product-feature-content">
            魔兽题材，英雄阵营,
            即时换装，动作卡牌,<br>
            1V1回合， 按键操控,
            休闲娱乐，老少皆宜^o^
        </div>
    </div>
</div>
<div class="product-content-right">
    <div class="product-brief">游戏介绍</div>
    <div class="product-detail">
        游戏世界观：魔兽世界故事为蓝本，联盟和部落的冲突不断。大
        量财富被集中于最繁华的中立城镇----藏宝海湾。<br>
        知道泰坦宝藏的消息在酒馆传开，天灾军团对藏宝海湾发起前所
        未有的攻击；联盟和部落被迫携手起来，共同抵御外敌。<br>
        然而那纸破碎的协议，阻止不了几百年的仇恨和怒火，看似强大
        的联军，缺貌合神离，他们能阻挡住来势汹汹的天灾军团吗&#63;<br>
        美术风格：2D 写实半Q版风格。<br>
        战斗方式：1V1回合制，可按键操控技能，最大支持双方各上阵3
        人。<br>
        玩法简介：玩家可以通过携带英雄，携带战宠，调整副本、通过
        迷宫、通灵塔、等进行成长。通过强化装备，英雄招募，战宠培
        养，英雄进阶、英雄修炼等玩法增强战斗力。于其他玩家进行竞
        技场PK，宝藏掠夺，最终进行工会战和跨服联赛，进行颠覆对决
    </div>
</div>