<div style="text-align: center;">
    <div style="font-weight: bolder;font-size: 18px;">User register</div>
    <div style="width: 300px;display: inline-block;margin-top: 18px;">
        <div style="text-align: left">
            <label> User Name:
                <input style="width: 100px;" type="text" ng-model="model.userName">
            </label>
            <label> User Password:
                <input style="width: 100px;" type="password" ng-model="model.userPwd">
            </label>
            <label> Confirm Password:
                <input style="width: 100px;" type="password" ng-model="model.userPwd2">
            </label>
        </div>
    </div>
</div>