<div>
    dfdfd
</div>
<button ng-click="openWindow()"> Open Window</button>

<!--<div class="x-window" movabled move-by=".x-window-panel .x-window-title" move-toggle="dialogMovabled">
    <div class="x-window-panel" ng-style="winStyle" style="width: 600px; z-index: 1002;">
        <div class="ng-scope">
            <div class="x-window-title"><span ng-bind="title" class="ng-binding">abc</span>&nbsp;
                <button type="button" class="x-window-close" ng-click="ctrl.windowClose()">×</button>
            </div>
        </div>
        <div class="x-window-content">&lt;!&ndash; rcComponent: searchPanel &ndash;&gt;
             开始日期：
        </div>
        <ui-window-bottom ui-buttons="uiButtons">
            <div class="ng-scope">
                <div class="x-window-bottom">
                    <div class="x-buttom" ng-click="ClickBtn0001($event)">Ok</div>
                    <div class="x-buttom" ng-click="ClickBtn0002($event)">Cancel</div>
                </div>
            </div>
        </ui-window-bottom>
    </div>
    <div class="x-window-fix"></div>
    <div class="x-window-background" ng-style="maskStyle" style="z-index: 1001;"></div>
</div>-->

<!--<div class="x-drag-window" movabled move-by=".header" move-toggle="true">
    <nav class="header">
        <section class="left btn icon">
            &lt;!&ndash;<span class="glyphicon glyphicon-align-justify"></span>&ndash;&gt;
        </section>
        <section class="right btn icon" ng-click="fullscreentoggle()">
            &lt;!&ndash;<span class="glyphicon glyphicon-fullscreen"></span>&ndash;&gt;
        </section>
        <section class="middle">
            header is fullscreen? {{dialogmovabled}}
        </section>
    </nav>
</div>-->
