<div id="ei-slider" class="ei-slider">
    <ul class="ei-slider-large">
        <li>
            <img src="resources/img/home/large/ad1.jpg" alt="image1"/>
        </li>
        <li>
            <img src="resources/img/home/large/ad2.jpg" alt="image2"/>
        </li>
        <li>
            <img src="resources/img/home/large/ad3.jpg" alt="image3"/>
        </li>
        <li>
            <img src="resources/img/home/large/ad4.jpg" alt="image4"/>
        </li>
        <li>
            <img src="resources/img/home/large/ad5.jpg" alt="image5"/>
        </li>
    </ul>
    <!-- ei-slider-large -->
    <ul class="ei-slider-thumbs">
        <li class="ei-slider-element">Current</li>
        <li><a href="#">Slide 1</a>
            <img src="resources/img/home/thumbs/thumb1.jpg" alt="thumbs1"/>
        </li>
        <li><a href="#">Slide 2</a>
            <img src="resources/img/home/thumbs/thumb2.jpg" alt="thumbs2"/>
        </li>
        <li><a href="#">Slide 3</a>
            <img src="resources/img/home/thumbs/thumb3.jpg" alt="thumbs3"/>
        </li>
        <li><a href="#">Slide 4</a>
            <img src="resources/img/home/thumbs/thumb4.jpg" alt="thumbs4"/>
        </li>
        <li><a href="#">Slide 5</a>
            <img src="resources/img/home/thumbs/thumb5.jpg" alt="thumbs5"/>
        </li>
    </ul>
    <!-- ei-slider-thumbs -->
</div>
<div class="home-content">
    <div class="home-introduction">
        <span class="home-introduction-title">《藏宝海湾》玩法简介：</span>
        <span class="home-introduction-content">玩家可以通过携带英雄，携带战宠，调整副本、通过迷宫、
        通灵塔、等进行成长。通过强化装备，英雄招募，战宠培养，英雄进阶、英雄修炼等玩法
        增强战斗力。于其他玩家进行竞技场PK，宝藏掠夺，最终进行工会战和跨服联赛，进行
        颠覆对决。</span>
        <span class="home-introduction-more"><a href="product">更多&gt;&gt;&gt;</a></span>
    </div>
    <div class="home-video">
        <a href="http://v.youku.com/v_show/id_XNjg3NzUzODUy.html?qq-pf-to=pcqq.group" target="_blank">
            <img src="resources/img/home/video.png"/>

            <div class="home-video-title">
                在线视频
            </div>
        </a>
    </div>
</div>