<div style="text-align: center" class="search-panel-div" load-css="searchPanel/SearchPanel.css">
    <label>玩家ID：
            <input style="width: 100px;" type="text" ng-model="playerId">
        </label>
    <label>玩家名称：
        <input style="width: 100px;" type="text" ng-model="playerName">
    </label>
    <label>开始日期：
        <input id="search-panel-startDate" style="width: 100px;" type="text" ui-date="startDateOptions" ng-model="startDate">
    </label>
    <label>结束日期：
        <input id="search-panel-endDate" style="width: 100px;" type="text" ui-date="endDateOptions" ng-model="endDate">
    </label>
    <button style="margin-left: 12px;" ng-click="search()">查询</button>
</div>


