<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true" version="3.0">
    <display-name>Java EE 6 Starter Application</display-name>

    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.gamehoo.web.DispatcherFilter</filter-class>
        <init-param>
            <param-name>INDEX_PAGE</param-name>
            <param-value>/index.html</param-value>
        </init-param>
        <init-param>
            <param-name>IGNORE_PAGES_PREFIX</param-name>
            <param-value>/index.html|/components/|/resources/|/download/</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
