<form  style="text-align: center">
    <div>
        <label for="userName">user:</label>
        <input title="please enter your account" id="userName" type="text" maxlength="50" ng-model="userName"/>
    </div>
    <div>
        <label for="userPwd">password:</label>
        <input title="please enter your password" id="userPwd" type="password" ng-model="userPwd"/>
        </div>
    <div>
        <button ng-click="login()">login</button>
        <button type="reset"> reset </button>
    </div>
</form>

