<div class="friend-link">
    <h3>友情链接</h3>
    <a href="http://bbs.18183.com" target="_blank">18183手游论坛</a> |
    <a href="http://www.youxi.com" target="_blank">Youxi</a> |
    <a href="http://shouji.360tpcdn.com/360sj/adm/apk/20130620/com.qihoo.appstore_199101_113026.apk"
       target="_blank">360手机助手</a>
    |
    <a href="http://www.gamedog.cn" target="_blank">游戏狗</a> |
    <a href="http://www.xiaozumi.com" target="_blank">小组迷</a> |
    <a href="http://www.yxzoo.com" target="_blank">游戏园</a> |
    <a href="http://www.2313.cn" target="_blank">2313手游网</a> |
    <a href="http://www.shouyou520.com" target="_blank">爱手游网</a> |
    <a href="http://www.mofang.com" target="_blank">魔方网</a>
</div>