<div class="wrap">
    <section class="w940">
        <header class="header">
            <menu class="menuWrap">
                <nav>
                    <ul class="menu">
                        <a href="home">
                            <li ng-class="homeClass">
                                <div>
                                    首页
                                </div>
                            </li>
                        </a>
                        <a href="company">
                            <li ng-class="companyClass">
                                <div>
                                    公司简介
                                </div>
                            </li>
                        </a>
                        <a href="product">
                            <li ng-class="productClass">
                                <div>
                                    产品项目
                                </div>
                            </li>
                        </a>
                        <a href="invite">
                            <li ng-class="inviteClass">
                                <div>
                                    人才招聘
                                </div>
                            </li>
                        </a>
                        <a href="contactMe">
                            <li ng-class="contactMeClass">
                                <div>
                                    联系我们
                                </div>
                            </li>
                        </a>
                    </ul>
                </nav>
            </menu>
            <span class="logo"><a href="home" title="厦门游互信息科技有限公司">GameHoo</a></span>
        </header>
    </section>
    <div id="pageContainer" ng-view="" class="pageContainer"/>
</div>
<ng-include src="friendLink"></ng-include>
<footer rc-component="footer" class="footer">

</footer>
